<a href="https://colab.research.google.com/github/Siraj-Ali8804/Scientific-Computing-/blob/main/Python_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Loops
oops are control flow statements used to repeatedly execute a block of code to automate repetitive tasks.

Python has two primitive loop commands:

**while** loops and
**for** loops

**For Loops**

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

The for loop does not require an indexing variable to set beforehand.

In [14]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [15]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [16]:
friends= ["ali","jhon","ihsan","azkia"]
for x in friends:
  print(x)

ali
jhon
ihsan
azkia

In [19]:
class_b =["daneil","assyljan","zahnaby","nutughan","azkia","arghnan"]
for x in class_b:
  print(x)

daneil
assyljan
zahnaby
nutughan
azkia
arghnan

In [21]:
class_g= ["kamila","karakakt","sabina","aruzhan","adel","sumera"]
for x in class_g:
  print(x)

kamila
karakakt
sabina
aruzhan
adel
sumera

**The break Statement**

With the break statement we can stop the loop before it has looped through all the items:

In [26]:
from __future__ import barry_as_FLUFL
class_b =["daneil","assyljan","zahnaby","nutughan","azkia","arghnan"]
for x in class_b:
  print (x)
  if x == "azkia":
    break
  print(x)

daneil
daneil
assyljan
assyljan
zahnaby
zahnaby
nutughan
nutughan
azkia

In [29]:
class_g= ["kamila","karakakt","sabina","aruzhan","adel","sumera"]
for x in class_g:
  print(x)
  if x== "sabina":
    break

kamila
karakakt
sabina

**continue Statement**

With the **continue** statement we can stop the current iteration of the loop, and continue with the next:

In [30]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [32]:
class_b =["daneil","assyljan","zahnaby","nutughan","azkia","arghnan"]
for x in class_b:
  if x== "azkia":
    continue
  print(x)

daneil
assyljan
zahnaby
nutughan
arghnan

In [35]:
class_g= ["kamila","karakakt","sabina","aruzhan","adel","sumera"]
for x in class_g:
  if x == "sumera":
    continue
  print(x)

kamila
karakakt
sabina
aruzhan
adel

In [45]:
class_g= ["kamila","karakakt","sabina","aruzhan","adel","sumera"]
for x in class_g:
    if x in ["aruzhan","adel","sumera"]:
      continue
    print(x)

kamila
karakakt
sabina

# The range() Function
To loop through a set of code a specified number of times, we can use the **range()** function,

The **range()** function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [48]:
for i in range(6):
  print(i)

0
1
2
3
4
5

The **range()** function defaults to **0** as a starting value, however it is possible to specify the starting value by adding a parameter: **range(2, 6)**, which means values from **2 to 6 (but not including 6)**:

In [50]:
for  i in range(2,8):
  print(i)

2
3
4
5
6
7

In [53]:
for i in range(2,20,4):
  print(i)

2
6
10
14
18

In [54]:
for i in range(3,20,3):
  print(i)

3
6
9
12
15
18

**Else in For Loop**

The **else** keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [55]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [57]:
for i in range(2,10,2):
  print(i)
else:
  print("it copy")

2
4
6
8
it copy

## Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [58]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [60]:
num = [1,2,3]
alpha = ["a","b"]
for x in num:
  for y in alpha:
    print(x,y)

1 a
1 b
2 a
2 b
3 a
3 b

In [70]:
mcqs =["newon","pascal","kelvin"]
num = [1,2,3]
for i in mcqs:
  for x in num:
    print(x,i)

1 newon
2 newon
3 newon
1 pascal
2 pascal
3 pascal
1 kelvin
2 kelvin
3 kelvin

In [71]:
students = ["Ali", "Sara"]
subjects = ["Math", "Physics"]

for s in students:
    for sub in subjects:
        print(s, "studies", sub)

Ali studies Math
Ali studies Physics
Sara studies Math
Sara studies Physics

In [72]:
count = 0
for x in ["a", "b"]:
    for y in [1, 2, 3]:
        count += 1

print(count)

6