<a href="https://colab.research.google.com/github/Siraj-Ali8804/Scientific-Computing-/blob/main/Python_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Operators**
Operators are used to perform operations on variables and values

Python divides the operators in the following groups:



1.   Arithmetic operators
2.   Assignment operators

1.   Comparison operators
2.   Logical operators

1.   Identity operators
2.   Membership operators

1.   Bitwise operators

**Arithmetic Operators**

Arithmetic operators are used with numeric values to perform common mathematical operations:

**+**	Addition	x + y

**-**	Subtraction

 *-Multiplication

 /	Division

 %	Modulus

 **	Exponentiation

 //	Floor division

In [11]:
x= 2
y = 3
print(x+y)
print(x-y)
print(x*y)
print(2/3)
print(x%y)
print(x**y)
print(x//y)
print(x/y)

5
-1
6
0.6666666666666666
2
8
0
0.6666666666666666

In [12]:
print(10//3)
print(10/3)
print(10%3)

3
3.3333333333333335
1

**Assignment Operators**

Assignment operators are used to assign values to variables:

In [20]:
x= 5
print(x)

5

In [22]:
x = 5
x += 3
print(x)

8

In [23]:
x= 5
y=x+3
print(y)

8

In [24]:
x = 5
x -= 3
print(x)

2

In [25]:
x= 5
x-=3
print(x)

2

In [26]:
x= 6
x-=2
print(x)

4

In [27]:
x= 5
x*=3
print(x)

15

In [28]:
x=5
x%=3
print(x)

2

In [29]:
x= 5
x&=3
print(x)

1

In [30]:
x = 5

x//=3

print(x)

1

In [31]:
x = 5

x **= 3

print(x)

125

In [32]:
x = 5

x &= 3

print(x)

1

In [33]:
x = 5

x |= 3

print(x)

7

In [34]:
x = 5

x ^= 3

print(x)

6

In [35]:
x = 5

x >>= 3

print(x)

0

In [36]:
x = 5

x <<= 3

print(x)

40

In [37]:
print(x := 3)

3

**Comparison Operators**


Comparison operators are used to compare two values:

Comparison operators return **True or False** based on the comparison:

In [38]:
# ==	Equal	x == y
x=5
y= 3
print(x==y)

False

In [39]:
#!=	Not equal	x != y
x= 5
y = 1
print(x!=y)

True

In [40]:
# >	Greater than	x > y
x= 5
y =8
print(x>y)
print(x<y)

False
True

In [44]:
# >=	Greater than or equal to	x >= y
#<=	Less than or equal to	x <= y
x= 5
y= 3
print(x>=y)
print(x<=y)

True
False

**Chaining Comparison Operators**

Python allows you to chain comparison operators:

In [45]:
x= 5
print(1<5<10)

True

***Logical Operators***

Logical operators are used to combine conditional statement

**and** 	Returns True if both statements are true

**or**	Returns True if one of the statements is true

**not**	Reverse the result, returns False if the result is true

In [47]:
x= 5
print(x< 6 and x>4)

True

In [48]:
x= 7
print(x<8 and x>9)

False

In [50]:
y= 8
print(y<5 and y>8)

False

In [51]:
x= 5
print(x<4 or x>3)

True

In [52]:
print(x<2 or x>3)

True

In [53]:
print(x>6 or x<4)

False

### **Identity Operators**
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

**is** 	Returns True if both variables are the same object

**is not**	Returns True if both variables are not the same object

In [58]:
x= ["apple", "banana"]
y= ["apple", "banana"]
x=y
print(x is y)
print(x is not y)
print(x==y)

True
False
True

**Difference Between is and ==**

**is** - Checks if both variables point to the same object in memory

**==** - Checks if the values of both variables are equal

In [64]:
x = [1, 2, 3]
y = [1, 2, 3]

print(x == y)
print(x is y)

True
False

**Membership Operators**

Membership operators are used to test if a sequence is presented in an object:

**in**	Returns True if a sequence with the specified value is present in the object

**not in**	Returns True if a sequence with the specified value is not present in the object

In [65]:
fruits = ["apple", "banana", "cherry"]

print("banana" in fruits)

True

In [71]:
people = ["ali", "muhammad", "hassan"]
print("ali" in people)
print("muhammad" in people)
print("azkia" in people)

True
True
False

In [73]:
print("azkia" not in people)
print("ali" not in people)

True
False

In [75]:
text = "Hello World"

print("H" in text)
print("hello" in text)
print("z" not in text)

True
False
True

**Bitwise Operators**

Bitwise operators are used to compare (binary) numbers:

**Operator -	Name -	Description**

& 	AND	Sets each bit to 1 if both bits are 1

|	OR	Sets each bit to 1 if one of two bits is 1

^	XOR	Sets each bit to 1 if only one of two bits is 1

~	NOT	Inverts all the bits

<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off

**>>**	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

In [77]:
#The binary representation of 6 is 0110
#The binary representation of 3 is 0011
#Then the & operator compares the bits and returns 0010, which is 2 in decimal.
print(6 & 3)

2

**Operator Precedence**

Operator precedence describes the order in which operations are performed.


**Operator	-Description**

()	Parentheses

**	Exponentiation

+x  -x  ~x	Unary plus, unary minus, and bitwise NOT

-*  /  //  %	Multiplication, division, floor division, and modulus

-+  -	Addition and subtraction

In [78]:
print((4-2)+(4+3))

9

In [79]:
print((4*2)+(4+3))

15

In [80]:
print(100 + 5 * 3)

115