<a href="https://colab.research.google.com/github/Siraj-Ali8804/Scientific-Computing-/blob/main/python_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Lists**
Lists are used to store multiple items in a single variable.

Lists are created using square brackets [ ].

List items are **ordered, changeable, and allow duplicate values**.

List items can be of any data type:

In [47]:
my_list = [1,2,"a,s,d,F,F","abacus"]
print(my_list)
print(len(my_list))

[1, 2, 'a,s,d,F,F', 'abacus']
4

In [48]:
list_1 =["apple","banana","orange"]
print(len(list_1))
print(list_1)

3
['apple', 'banana', 'orange']

**The list() Constructor**
It is also possible to use the **list()** constructor when creating a new list.

In [49]:
list_2 = list(("apple","banana","orange"))
print(list_2)
print(len(list_2))

['apple', 'banana', 'orange']
3

**Access Items**
List items are indexed and you can access them by referring to the index number:

In [50]:
list_3=["my","name","is" ,24]
print(list_3[1:])
print(list_3[:1])
print(list_3[1:3])
print(list_3[-1:])
print(list_3[:-1])

['name', 'is', 24]
['my']
['name', 'is']
[24]
['my', 'name', 'is']

**Check if Item Exists**
To determine if a specified item is present in a list use the **in** keyword:

In [51]:
list_4= ["onioin", "salt","oil","garlic","ginger","tomamto","pepe","meat"]
if "water" in list_4:
  print("yes")
else:
    print("no")

no

**Change Item Value**
To change the value of a specific item, refer to the index number:

In [52]:
list_5= ["onioin", "salt","oil","garlic","ginger","tomamto","pepe","meat"]
list_5[1]="paste"
print(list_5)

['onioin', 'paste', 'oil', 'garlic', 'ginger', 'tomamto', 'pepe', 'meat']

In [53]:
list_5= ["onioin", "salt","oil","garlic","ginger","tomamto","pepe","meat"]
list_5[3]="rice"
print(list_5)

['onioin', 'salt', 'oil', 'rice', 'ginger', 'tomamto', 'pepe', 'meat']

In [54]:
list_5= ["onioin", "salt","oil","garlic","ginger","tomamto","pepe","meat"]
list_5[4]="biryani masal"
print(list_5)

['onioin', 'salt', 'oil', 'garlic', 'biryani masal', 'tomamto', 'pepe', 'meat']

**Change a Range of Item Values**
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [55]:
list_6 = ['onioin', 'salt', 'oil', 'garlic', 'biryani masal', 'tomamto', 'pepe', 'meat']
list_6[3:5]= ["aplha","orange","banana"]
print(list_6)

['onioin', 'salt', 'oil', 'aplha', 'orange', 'banana', 'tomamto', 'pepe', 'meat']

In [56]:
list_7 = ['onioin', 'salt', 'oil', 'aplha', 'orange', 'banana', 'tomamto', 'pepe', 'meat']
list_7[0:1]= ["water","mirch"]
print(list_7)

['water', 'mirch', 'salt', 'oil', 'aplha', 'orange', 'banana', 'tomamto', 'pepe', 'meat']

In [57]:
#If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

**Insert Items**
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The **insert()** method inserts an item at the specified index:

In [58]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [59]:
list_8= ['water', 'mirch', 'salt', 'oil', 'aplha', 'orange', 'banana', 'tomamto', 'pepe', 'meat']
list_8.insert(0,"cook")
print(list_8)

['cook', 'water', 'mirch', 'salt', 'oil', 'aplha', 'orange', 'banana', 'tomamto', 'pepe', 'meat']

In [62]:
list_9=['water', 'mirch', 'salt', 'oil', 'aplha', 'orange', 'banana', 'tomamto', 'pepe', 'meat']
list_9.insert(1,"chilli")
print(list_9)

['water', 'chilli', 'mirch', 'salt', 'oil', 'aplha', 'orange', 'banana', 'tomamto', 'pepe', 'meat']

**Append Items**
To add an item to the end of the list, use the append() method:

In [63]:
list_10=['water', 'mirch', 'salt', 'oil', 'aplha', 'orange', 'banana', 'tomamto', 'pepe', 'meat']
list_10.append("cook")
print(list_10)

['water', 'mirch', 'salt', 'oil', 'aplha', 'orange', 'banana', 'tomamto', 'pepe', 'meat', 'cook']

**Extend List**
To append elements from another list to the current list, use the **extend()** method.

In [65]:
#Add the elements of tropical to thislist:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [67]:
list_9=['water', 'mirch', 'salt', 'oil', 'aplha', 'orange', 'banana']
list_11=['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
list_9.extend(list_11)
print(list_9)

['water', 'mirch', 'salt', 'oil', 'aplha', 'orange', 'banana', 'apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [69]:
list_12 =['water', 'mirch', 'salt', 'oil', 'aplha', 'orange', 'banana']
list_13 =['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
list_12.extend(list_13)
print(list_12)

['water', 'mirch', 'salt', 'oil', 'aplha', 'orange', 'banana', 'apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

**Remove Specified Item**
The **remove()** method removes the specified item.

In [72]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [78]:
list_14= ['water', 'mirch', 'salt', 'oil', 'aplha', 'orange', 'banana', 'apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
list_14.remove("banana")
print(list_14)
list_14.remove("cherry")
print(list_14)
list_14.remove("mango")
print(list_14)
list_14.remove("mirch")
print(list_14)

['water', 'mirch', 'salt', 'oil', 'aplha', 'orange', 'apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['water', 'mirch', 'salt', 'oil', 'aplha', 'orange', 'apple', 'banana', 'mango', 'pineapple', 'papaya']
['water', 'mirch', 'salt', 'oil', 'aplha', 'orange', 'apple', 'banana', 'pineapple', 'papaya']
['water', 'salt', 'oil', 'aplha', 'orange', 'apple', 'banana', 'pineapple', 'papaya']

**Remove Specified Index**
The **pop()** method removes the specified index.

In [82]:
list_15 =['water', 'salt', 'oil', 'aplha', 'orange', 'apple', 'banana', 'pineapple', 'papaya']
list_15.pop(0)
print(list_15)
list_15.pop(1)
print(list_15)
list_15.pop(3)
print(list_15)

['salt', 'oil', 'aplha', 'orange', 'apple', 'banana', 'pineapple', 'papaya']
['salt', 'aplha', 'orange', 'apple', 'banana', 'pineapple', 'papaya']
['salt', 'aplha', 'orange', 'banana', 'pineapple', 'papaya']

The **del** keyword also removes the specified index:

The **del** keyword can also delete the list completely.

In [89]:
list_16 = ['salt', 'aplha', 'orange', 'banana', 'pineapple', 'papaya']
del list_16[0]
print(list_16)
del list_16[2]
print(list_16)

['aplha', 'orange', 'banana', 'pineapple', 'papaya']
['aplha', 'orange', 'pineapple', 'papaya']

In [91]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

**clear the List**
The clear() method empties the list.

The list still remains, but it has no content.

In [92]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [93]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

**Customize Sort Function**
You can also customize your own function by using the keyword argument **key = function**.

The function will return a number that will be used to sort the list (the lowest number first):

In [94]:
#Sort the list based on how close the number is to 50:

def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

**Case Insensitive Sort**
By default the **sort()** method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [96]:
thislist = ["banana", "Orange", "Kiwi", "Cherry"]
thislist.sort()
print(thislist)

['Cherry', 'Kiwi', 'Orange', 'banana']

**Reverse Order**
What if you want to reverse the order of a list, regardless of the alphabet?

The **reverse()** method reverses the current sorting order of the elements.

In [97]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [98]:
list_17 = ['salt', 'aplha', 'orange', 'banana', 'pineapple', 'papaya']
list_17.reverse()
print(list_17)

['papaya', 'pineapple', 'banana', 'orange', 'aplha', 'salt']

**Copy a List**
You can use the built-in List method **copy()** to copy a list.

In [99]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [100]:
list_18 = ['salt', 'aplha', 'orange', 'banana', 'pineapple', 'papaya']
list_19= list_18.copy()
print(list_19)

['salt', 'aplha', 'orange', 'banana', 'pineapple', 'papaya']

In [101]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [102]:
list_18 = ['salt', 'aplha', 'orange', 'banana', 'pineapple', 'papaya']
mylist =list_18[:]
print(mylist)

['salt', 'aplha', 'orange', 'banana', 'pineapple', 'papaya']

**Join Two Lists**

One of the easiest ways are by using the + operator.

In [103]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [104]:
thislist = ["apple", "banana", "cherry"]
list_18 = ['salt', 'aplha', 'orange', 'banana', 'pineapple', 'papaya']
new = thislist + list_18
print(new)

['apple', 'banana', 'cherry', 'salt', 'aplha', 'orange', 'banana', 'pineapple', 'papaya']