<a href="https://colab.research.google.com/github/Siraj-Ali8804/Scientific-Computing-/blob/main/Python_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuple**
Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable and Allow Duplicates

Tuples are written with round brackets **()**.

In [ ]:
my_tuple =("apple", "banana","orange",)
print(my_tuple)

('apple', 'banana', 'orange')

In [ ]:
tuple_1 =("jhon","michle","anton","bakhtiyar")
print(tuple_1)

('jhon', 'michle', 'anton', 'bakhtiyar')

**Access Tuple Items**
You can access tuple items by referring to the index number, inside square brackets:

In [ ]:
tuple_1 =("jhon","michle","anton","bakhtiyar")
print(tuple_1[1])
print(tuple_1[3])

michle
bakhtiyar

**Negative Indexing**
 means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
my_tuple =("apple", "banana","orange",)
print(my_tuple[-1])
print(my_tuple[-2])
print(my_tuple[-3])

orange
banana
apple

**Range of Indexes**
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [ ]:
tuple_2=("onion","garlic","potato","ginger","oil","rice","meat")
print(tuple_2[2:5])

('potato', 'ginger', 'oil')

**Change Tuple Values** Tuples are unchangeable, or immutable.

You can **convert the tuple into a list, change the list, and convert the list back into a tuple**.
convert tuple into list and the apply all changes and then convert intop tuple

In [ ]:
tuple_3=("onion","garlic","potato","ginger","oil","rice","meat")
list_1 =list(tuple_3)
print(list_1)
list_1[1]= "cook"
print(list_1)
tuple_2 = tuple(list_1)
print(tuple_2)

['onion', 'garlic', 'potato', 'ginger', 'oil', 'rice', 'meat']
['onion', 'cook', 'potato', 'ginger', 'oil', 'rice', 'meat']
('onion', 'cook', 'potato', 'ginger', 'oil', 'rice', 'meat')

**Unpacking a Tuple**

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:we are also allowed to extract the values back into variables. This is called "unpacking":

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
tuple_3=("onion","garlic","potato","ginger","oil","rice","meat")
(a, b,c,d,e,f,g) = tuple_3
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

onion
garlic
potato
ginger
oil
rice
meat

Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
tuple_4=("onion","garlic","potato","ginger","oil","rice","meat")
(a,s,d,f,g,*h)= tuple_4
print(a)
print(s)
print(d)
print(f)
print(g)
print(h)

onion
garlic
potato
ginger
oil
['rice', 'meat']

**Join Two Tuples**
To join two or more tuples you can use the **+** operator:

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
tuple_5=( "apple", "asdf" ,"qwer","qwert")
tuple_6=("zaq","xsw","vfr")
tuple_7= tuple_5 + tuple_6
print(tuple_7)

('apple', 'asdf', 'qwer', 'qwert', 'zaq', 'xsw', 'vfr')

**Multiply Tuples**
If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
tuple_8 =("bgt","nhy","mju","mju")
new= tuple_8*2
print(new)
count =new.count("mju")
print(count)

('bgt', 'nhy', 'mju', 'mju', 'bgt', 'nhy', 'mju', 'mju')
4