# **Math**
Python has a set of built-in math functions, including an extensive math module, that allows you to perform mathematical tasks on numbers.

## **Built-in Math Functions**
The **min()** and **max()** functions can be used to find the lowest or highest value in an iterable:

In [ ]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

In [ ]:

a = (3,4,5,76,)
print(min(a))
print(max(a))

3
76

The **abs()** function returns the absolute (positive) value of the specified number:

In [ ]:
x = abs(-7.25)

print(x)

7.25

In [ ]:
a= (-345)
print(abs(a))

345

The **pow(x, y)** function returns the value of x to the power of **y (xy)**.

In [ ]:
x= pow(2,3)
print(x)

8

In [ ]:
e=pow(2,4)
print(e)

16

## The Math Module
Python has also a built-in module called math, which extends the list of mathematical functions.

To use it, you must import the math module:

When you have imported the math module, you can start using methods and constants of the module.

In [ ]:
import math

x = math.sqrt(64)

print(x)

8.0

In [ ]:
import math
y= math.sqrt(8)
print(y)

2.8284271247461903

In [ ]:
import math
y =math.acos(0.9)
print(y)

0.45102681179626236

The **math.ceil()** method rounds a number upwards to its nearest integer, and the **math.floor()** method rounds a number downwards to its nearest integer, and returns the result:

In [ ]:
import math

x = math.ceil(1.4)
y = math.floor(1.4)

print(x) # returns 2
print(y) # returns 1

2
1

In [ ]:
import math

a= math.ceil(1.3455)
b= math.floor(1.3455)
print(a,b)

2 1

The math.pi constant, returns the value of **PI (3.14...)**:

In [ ]:
import math

x = math.pi

print(x)

3.141592653589793

## Python Try Except
1.   The **try** block lets you test a block of code for errors.

1.   The **except** block lets you handle the error.

1.   The **else** block lets you execute code when there is no error.
2.   The **finally** block lets you execute code, regardless of the result of the try- and except blocks.

In [1]:
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Variable x is not defined

In [2]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [3]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [4]:
try:
  f = open("demofile.txt")
  try:
    f.write("Lorum Ipsum")
  except:
    print("Something went wrong when writing to the file")
  finally:
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when opening the file

The **raise** keyword is used to raise an exception.

In [6]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed