<a href="https://colab.research.google.com/github/Siraj-Ali8804/Scientific-Computing-/blob/main/Python_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Print()**

The **print()** function to display output on the console.

In [ ]:
print("Hello wrold")

Hello wrold

In [ ]:
print('Hello again')
print("I like coding in python")

Hello again
I like coding in python

# **Python Syntax**

**Python Indentation**
Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [ ]:
if 5>4:
  print("five is greater than four")

five is greater than four

In [ ]:
if 5>4:
  print("five is greater than four")

five is greater than four

In [ ]:
if 4<5:
   print("condition met-")
   if 3>1:
     print("four is greater than five")

condition met-
four is greater than five

In [ ]:
if 5 > 2:
    print("Condition met.")
    if 3 > 1:
        print("Nested condition also met.")

Condition met.
Nested condition also met.

# Python **Statements**

In a programming language,  programming instructions are called statements.

In [ ]:
print("Hello world")
print("Have a good day")
print("Learning python is fun")

Hello world
Have a good day
Learning python is fun

**Semicolons**
Semicolons are optional in Python. You can write multiple statements on one line by separating them with **;**

In [ ]:
print("Hello world");print("Have a good day");print("Learning python is fun")

Hello world
Have a good day
Learning python is fun

# **Python Output / Print**
print() function to display text or output values:

**Double Quotes**
Text in Python must be inside quotes. You can use either **"** double quotes or **'** single quotes:

In [ ]:
print("My name is siraj")
print('I am learning scientific computing')

My name is siraj
I am learning scientific computing

**Print Without a New Line**

By default, the print() function ends with a new line.
If you want to print multiple words on the same line, you can use the **end** parameter:

In [ ]:
print("My name is siraj", end="")
print( " I am learning scientific computing")

My name is siraj I am learning scientific computing

In [ ]:
print("I have started learning python", end=" ")
print("my aim to be computational scientist")

I have started learning python my aim to be computational scientist

In [ ]:
print("I will learn python basics in a month", end=" ")
print(" then i will start learning data analaysis in next month")

I will learn python basics in a month  then i will start learning data analaysis in next month

**Python Output Numbers**

Obviously print() function to display numbers.
However, unlike text, we ***don't put numbers inside double quotes***

In [ ]:
print(5)
print(10)

5
10

In [ ]:
print(5-2)

3

In [ ]:
print("5-2")

5-2

You can also do math inside the print() function so take care of qoutes when to use.

**Mix Text and Numbers**
You can combine text and numbers in one output by separating them with a comma:

In [ ]:
print("My name is siraj and iam",20 ,'years old')

My name is siraj and iam 20 years old

In [ ]:
print("I have completed my graduation in", 2023)

I have completed my graduation in 2023

In [ ]:
print("i have to learn python in ", 30 , "days")

i have to learn python in  30 days