# **Python Comments**
Python comments are non-executable lines of text in the source code that the interpreter ignores during program execution

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Python primarily uses the hash symbol **(#)** for comments.

In [25]:
# This symbol is used for commnets with code which are non non-executable as you can read this commment it is act as code , althog it is inside code interepreter
print("Hello World")

Hello World

# **Variables**
Variables are containers for storing data values.

A variable is created the moment you first assign a value to it.

**Variable Names**
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:


1.   A variable name must start with a letter or the underscore character
2.   A variable name cannot start with a number
3.   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4.   Variable names are case-sensitive (age, Age and AGE are three different variables)
1.   A variable name cannot be any of the Python keywords.

In [26]:
x=2
y=3
print(x)
print(y)

2
3

In [32]:
_x=3
_y=2
print(_x)
print(_y)

3
2

In [33]:
_w= "rehan"
_e="muhmmad"
print(_w)
print(_e)

rehan
muhmmad

In [27]:
a="ahmed"
b= 3
print(a)
print(b)

ahmed
3

In [28]:
s=3
s=4
s=5
print(s)

5

In [29]:
s = 5
print(s)

5

In [30]:
f=2
f="noor"
print(f)

noor

In [39]:
4='JHON'
print(4)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (ipython-input-2698076496.py, line 1)

In [45]:
#you can make a vairable consist of apha_numeric using undescore, but still remember you can not use number at start , you can use it btween or at last
2_ab= "stephen"
print(2_ab)

SyntaxError: invalid decimal literal (ipython-input-409452851.py, line 2)

In [46]:
ab_2= "stephen"
print(ab_2)

stephen

In [44]:
#variable is case sensitive
age= 23
Age= 24
AGE= 25
print(age)
print(Age)
print(AGE)

23
24
25

A python vaiable can not be python key word

what is key word?

Python has a set of keywords that are reserved words that cannot be used as variable names, function names, or any other identifiers:

e.g

**and**	A logical operator

**if**	To make a conditional statement

more
[www.w3schools.com/python/python_ref_keywords.asp](https://)

In [47]:
and= "michel"
pritn(and)

SyntaxError: invalid syntax (ipython-input-2042608680.py, line 1)

In [48]:
if = 4
print(if)

SyntaxError: invalid syntax (ipython-input-1564063094.py, line 1)

**Multi Words Variable Names**

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

In [53]:
#Camel Case
#Each word, except the first, starts with a capital letter:

myNameIs = "Anton"
print(myNameIs)

Anton

In [54]:
#Pascal Case
#Each word starts with a capital letter:

MyNameIs= "Issac"
print(MyNameIs)

Issac

In [55]:
#Snake Case
#Each word is separated by an underscore character:

my_name_is = "Griffthis"
print(my_name_is)

Griffthis

**Many Values to Multiple Variables**

Python allows you to assign values to multiple variables in one line:

In [56]:
a,s,d= "jhon",2,"michel"
print(a)
print(s)
print(d)

jhon
2
michel

In [57]:
q,w,e = 1,2,3
print(q)
print(w)
print(e)

1
2
3

**One Value to Multiple Variables**

And you can assign the same value to multiple variables in one line:

In [59]:
f=g=h = "Edward"
print(f)
print(g)
print(h)

Edward
Edward
Edward

In [60]:
r=t=y= 3
print(r)
print(t)
print(y)

3
3
3

In [61]:
t=y=u="Good"
print(t)
print(y)
print(u)

Good
Good
Good

You can also use the **+** operator to output multiple variables:

In [64]:
x= "Ross"
y= " ate"
z= " 3"
a= " apples"
print(x+y+z+a)

Ross ate 3 apples

In [66]:
a= "python "
s = "is easy language"
print(a+s)

python is easy language

The best way to output multiple variables in the **print()** function is to **separate them with commas**, which even support different data types:

In [67]:
a = "the"
s = "best"
d = "way"
print(a,s,d)

the best way

In [69]:
f= "use"
g= "print"
h= "function"
i = " with commas separate variables "
print(f,g,h,i)

use print function  with commas separate variables

**Global Variables**

Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [74]:
"""reate a variable outside of a function, and use it inside the function"""
x= "He"
def myfunc():
  print(x, "is good at python")
myfunc

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [75]:
#Create a variable inside a function, with the same name as the global variable
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [82]:
a= "ali"
def myfunc():
  a= "is your name"
  print("ali" ,a)
myfunc()
print(a)

ali is your name
ali

In [83]:
q= "he"
def myfunc():
  q = "good at python"
  print("he" ,q)
myfunc()
print(q)

he good at python
he

In [85]:
s= "best"
def myfunc():
  s= "good "
  print("python is "+ s + "language")
myfunc()
print(s)

python is good language
best

In [87]:
y= "natural"
def myfunc():
  y= "purified"
  print("this water is ", y)
myfunc()
print(y)

this water is  purified
natural