<a href="https://colab.research.google.com/github/Siraj-Ali8804/Scientific-Computing-/blob/main/Python_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Strings**
Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [1]:
print("Hello")
print('this is string b/c it os inside the qottation marks')

Hello
this is string b/c it os inside the qottation marks

**Assign String to a Variable**

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [2]:
a= 'hello'
type(a)

str

**Multiline Strings**

You can assign a multiline string to a variable by using three quotes:

In [3]:
q= """this format of thripple inverted commas to writelong snetence inside python interprettter"""
print(q)

this format of thripple inverted commas to writelong snetence inside python interprettter

In [4]:
a = """yosusf misar tammnah tera jawlooon pa nisar,
muj ko ab hosh ki dunya ka zhulekha na bana"""
print(a)

yosusf misar tammnah tera jawlooon pa nisar,
muj ko ab hosh ki dunya ka zhulekha na bana

**Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [5]:
#Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

llo

In [6]:
y = "my name is siraj"
print(y[11:16])
print(y[3:7])
print(y[13:16])

siraj
name
raj

In [7]:
my_data = " I am in 25 years old"
print(my_data[8:12])

 25

In [8]:
cgpa= "My cgpa is 3.75"
print(cgpa[10:15])

 3.75

**Slice From the Start**

By leaving out the start index, the range will start at the first character:

In [9]:
class_number= "we are 12 students in our class"
print(class_number[:1])
print(class_number[:2])
print(class_number[:3])
print(class_number[:4])
print(class_number[:25])

w
we
we
we a
we are 12 students in our

**Slice From the Start**

By leaving out the start index, the range will start at the first character:

In [10]:
o= "there are five vowels in english alpahabets"
print(o[0:])
print(o[9:])

there are five vowels in english alpahabets
 five vowels in english alpahabets

In [11]:
idea= "slicing trick the number id right or left side of semicolon tha will be removed"
print(idea[1:])
print(idea[:1])
print(idea[7:40])

licing trick the number id right or left side of semicolon tha will be removed
s
 trick the number id right or lef

**Negative Indexing**

Use negative indexes to start the slice from the end of the string:

In [12]:
alphabets= " a b c d e f g h i j k l m n o p q r s t u v w x y z"
print(alphabets[-1:])
print(alphabets[:-1])

z
 a b c d e f g h i j k l m n o p q r s t u v w x y

**Modify Strings**

Python has a set of built-in methods that you can use on strings.

The **upper()** method returns the string in upper case:

The **lower()** method returns the string in lower case:

The **strip()** method removes any whitespace from the beginning or the end:

In [13]:
a = " asdf "
print(a.upper())
print(a.strip())

 ASDF
asdf

In [14]:
s =" fghj         "
print(s.upper())
print(s.strip())

 FGHJ
fghj

In [15]:
e= "           qwer"
print(e.upper())
print(e.strip())

           QWER
qwer

In [16]:
a= "          ASDF"
print(a.lower())
print(a.strip())

          asdf
ASDF

In [17]:
q="       QWEER "
print(q.lower())
print(q.strip())

       qweer
QWEER

**String Concatenation**

To concatenate, or combine, two strings you can use the + operator.

In [18]:
a = "Vovels"
b = "and"
c = "consunants"
print(a+b+c)

Vovelsandconsunants

In [19]:
a = "vovels"
b = " "
c = "and"
d = " "
e = "consunants"
print(a+b+c+d+e)

vovels and consunants

**String Format**

we cannot combine strings and numbers.we can combine strings and numbers by using **f-strings or the format()** method

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [22]:
#example of wrong cobination of string and numbers
age = 24
note = "I am " + age
print(note)

TypeError: can only concatenate str (not "int") to str

In [25]:
age = 24
note = f"I am {age}"
print(note)

I am 24

In [26]:
number= 12
snetence= f"we are {number} students in our class"
print(snetence)

we are 12 students in our class

In [29]:
num= 1440
dorm= f"we have {num} rooms in our drom"
print(dorm)

we have 1440 rooms in our drom

**Placeholders and Modifiers**
A placeholder can contain variables, operations, functions, and modifiers to format the value.

A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

A placeholder can contain Python code, like math operations:

In [30]:
price= 56
text= f"i need {price:2f} dollars"
print(text)

i need 56.000000 dollars

In [32]:
pkr= 200
tenge= f" {pkr} equals to {200*0.56:2f} tenge"
print(tenge)

 200 equals to 112.000000 tenge

In [33]:
gpa = 3.75
text = f"my cgpa is {gpa*4/4:2f}"
print(text)

my cgpa is 3.750000

**Escape Character**
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

In [46]:
#double quotations are usually are nnot allowed
#e.g
sen = " i am writtnig a "book""
print(sen)

SyntaxError: invalid syntax (ipython-input-570520899.py, line 3)

In [55]:
#you can solve this problem by escape charater \
sen = " i am writting  a \"book\" on history"
print(sen)

 i am writting  a "book" on history

In [54]:
another = "he is palying \"circiket\" in groud"
print(another)

he is palying "circiket" in groud


Code	Result

\\'	Single Quote

\\\	Baklashes

\n	New Line

\r	Carriage Return

\t	Tab

\b	Backspace

\f	Form Feed

\ooo	Octal value

\xhh	Hex value

In [59]:
text= " my name is raj \'siraj\'"
print(text)

 my name is raj 'siraj'

In [61]:
text = "he is the \\admin\\ of this "
print(text)

he is the \admin\ of this

In [65]:
text = "he is the \n admin of this "
print(text)

he is the
 admin of this

**String Methods**
Python has a set of built-in methods that you can use on strings.

String **count()** Method

In [68]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [69]:
data = "my name is siraj he is my friend"
y= data.count("siraj")
print(y)

1

In [72]:
data = "my name is siraj he is my friend"
y= data.count("is")
print(y)
y= data.center(55)
print(y)

2
            my name is siraj he is my friend

In [74]:
txt = "banana"
x = txt.center(2)
print(x)

banana