# **Set**
A set is a collection which is unordered, unchangeable*, and unindexed.

Sets are written with curly brackets**{}**

Set items are **unordered, unchangeable, and do not allow duplicate values**

In [ ]:
set_1 = {"set", "is", "collection", "well", "define","distint","objects"}
print(set_1)

{'well', 'define', 'is', 'collection', 'set', 'objects', 'distint'}

In [ ]:
set_1 = {"set", "is", "collection", "well", "define","distint","objects","is"}
print(set_1)

{'well', 'define', 'is', 'collection', 'set', 'objects', 'distint'}

In [ ]:
# The values True and 1 are considered the same value in sets, and are treated as duplicates simliarly for false and 0 are same:
set_2 ={ 1,0, "apple", "banana",True, False}
print(set_2)

{0, 1, 'apple', 'banana'}

**Access Items**

You cannot access items in a set by referring to an index or a key.
But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [ ]:
set_2 = {"set", "is", "collection", "well", "define","distint","objects","is"}
for x in set_2:
  print(set_2)

{'well', 'define', 'is', 'collection', 'set', 'objects', 'distint'}
{'well', 'define', 'is', 'collection', 'set', 'objects', 'distint'}
{'well', 'define', 'is', 'collection', 'set', 'objects', 'distint'}
{'well', 'define', 'is', 'collection', 'set', 'objects', 'distint'}
{'well', 'define', 'is', 'collection', 'set', 'objects', 'distint'}
{'well', 'define', 'is', 'collection', 'set', 'objects', 'distint'}
{'well', 'define', 'is', 'collection', 'set', 'objects', 'distint'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

In [ ]:
set_2 = {"set", "is", "collection", "well", "define","distint","objects","is"}
print("is" not in set_2)

False

**Add Items**
Once a set is created, you cannot change its items, but you can add new items.
o add one item to a set use the **add()** method.

In [ ]:
set_3 = {"set", "is", "collection", "well", "define","distint","objects","is"}
set_3.add(" in math")
print(set_3)

{'well', 'define', 'is', 'collection', 'set', 'objects', ' in math', 'distint'}

**Add Sets**
To add items from another set into the current set, use the update() method.

In [ ]:
set_4 = {"set", "is", "collection", "well", "define","distint","objects","is"}
set_6 = {"this", "is", "my", "definition"}
set_4.update(set_6)
print(set_4)

{'define', 'is', 'objects', 'definition', 'my', 'well', 'collection', 'set', 'this', 'distint'}

**remove Item**
To remove an item in a set, use the **remove(), or the discard()** method.

In [ ]:
set_7 = {"set", "is", "collection", "well", "define","distint","objects","is"}
set_7.remove("is")
print(set_7)

{'well', 'define', 'collection', 'set', 'objects', 'distint'}

In [ ]:
set_8 = {'well', 'define', 'collection', 'set', 'objects', 'distint'}
set_8.discard("distint")
print(set_8)

{'well', 'define', 'collection', 'set', 'objects'}

The **clear()** method empties the set:

In [ ]:
set_9 = {'well', 'define', 'collection', 'set', 'objects'}
set_9.clear()
print(set_9)

set()

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

The **del** keyword will delete the set completely:

In [ ]:
set_10 = {'well', 'define', 'collection', 'set', 'objects'}
del set_10
print(set_10)

#print show error because it set is deleted notjing to show

NameError: name 'set_10' is not defined

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

**Join Sets**
There are several ways to join two or more sets in Python.

The **union() and update()** methods joins all items from both sets.

The **intersection()** method keeps ONLY the duplicates.

The **difference()** method keeps the items from the first set that are not in the other set(s).

The **symmetric_difference()** method keeps all items EXCEPT the duplicates.

In [25]:
set_11 = {"a,e,i,o,u"}
set_12 = {"b,c,d,f,g,h,j,k,l,m,n,p,q,r,s,t,v,w,x,y,z"}
union_set= set_11.union(set_12)
print(union_set)

{'b,c,d,f,g,h,j,k,l,m,n,p,q,r,s,t,v,w,x,y,z', 'a,e,i,o,u'}

In [26]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'c', 'John', 'apple', 'a', 'Elena', 'cherry', 'b', 'bananas'}

In [27]:
set_11 = {"a,e,i,o,u"}
set_12 = {"b,c,d,f,g,h,j,k,"}
set_13 = {"l,m,n,p,q,r,s,t,v,w,x,y,z"}
union_set = set_11.union(set_12,set_13)
print(union_set)

{'l,m,n,p,q,r,s,t,v,w,x,y,z', 'a,e,i,o,u', 'b,c,d,f,g,h,j,k,'}

**Join a Set and a Tuple**
The **union()** method allows you to join a set with other data types, like lists or tuples.

In [28]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'a', 'b'}

**Intersection**

Keep ONLY the duplicates

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [30]:
set_11 = {"a","e,i,o,u"}
x = {"a", "b", "c"}
intersection= set_11.intersection(x)
print(intersection)

{'a'}

**Difference**

The **difference()** method will return a new set that will contain only the items from the first set that are not present in the other set.

In [31]:
set_11 = {"a","e,i,o,u"}
x = {"a", "b", "c"}
new= set_11.difference(x)
print(new)

{'e,i,o,u'}

**Symmetric Differences**
The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [33]:
set_11 = {"a","e,i,o,u"}
x = {"a", "b", "c"}
y= set_11.symmetric_difference(x)
print(y)

{'e,i,o,u', 'b', 'c'}

**frozenset**

frozenset is an immutable version of a set.

Like sets, it contains unique, unordered, unchangeable elements.

Unlike sets, elements cannot be added or removed from a frozenset.

Being immutable means you cannot add or remove elements. However, frozensets support all non-mutating operations of sets.

Use the **frozenset()** constructor to create a frozenset from any iterable.

In [39]:
t= frozenset({1,2,3,4,5})
print(t)

frozenset({1, 2, 3, 4, 5})

In [36]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>