<a href="https://colab.research.google.com/github/Siraj-Ali8804/Scientific-Computing-/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Match**
The match statement is used to perform different actions based on different conditions.

Instead of writing many if..else statements, you can use the match statement.

The match statement selects one of many code blocks to be executed.

In [2]:
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")

Thursday

In [4]:
day = 1
match day:
  case 1:
    print("any holiday")
  case 2:
    print("starday")
  case 7:
    print("sunday")

any holiday

In [11]:
class_ = ["friday", "saturday", "sunday"]

match class_:
    case "monday":
        print("no class")
    case "tuesday":
        print("all classes")
    case "wednesday":
        print("no class")
    case "thursday":
        print("two classes")
    case ["friday", "saturday", "sunday"]:
        print("no class")

no class

## Combine Values
Use the pipe character **|** as an or operator in the case evaluation to check for more than one value match in one case:

In [16]:
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

Today is a weekday

In [19]:
class_= "monday"
match class_:
  case "monday"|"wednesday"|"friday"|"sturday"|"sunday":
    print("no class")
  case "tuesday"|"thrusday":
    print("we have class")

no class

In [20]:
month = 5
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 4:
    print("A weekday in April")
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("A weekday in May")
  case _:
    print("No match")

A weekday in May